@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-CondensedRegular.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-Italic.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-Medium.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-CondensedBold.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-Bold.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-LightItalic.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-Light.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-Heavy.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/gill-sans/GillSans-HeavyItalic.woff2') format('woff2'),
        url('/fonts/gill-sans/GillSans-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: block;
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  