@font-face {
    font-family: 'DIN';
    src: url('../lib/fonts/ffdin/DIN-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('../lib/fonts/ffdin/DINBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('../lib/fonts/ffdin/DIN-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('../lib/fonts/ffdin/DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Bold.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-SemiBold.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Black.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Medium.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Regular.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Medium.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Medium.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Thin.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Regular.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Black.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Thin.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-SemiBold.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Light.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Thin.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Bold.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-SemiBold.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Light.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Light.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Light.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Black.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Black.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Regular.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Bold.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-SemiBold.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Bold.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../lib/fonts/recoleta/Recoleta-Thin.woff2') format('woff2'),
        url('../lib/fonts/recoleta/Recoleta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Medium.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../lib/fonts/recoleta/RecoletaAlt-Regular.woff2') format('woff2'),
        url('../lib/fonts/recoleta/RecoletaAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

